<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title pb-3"> Trivias App </span>
        <span class="login100-form-title pb-4">
          <fa-icon [icon]="faLightbulb"></fa-icon>
        </span>

        <div
          class="wrap-input100 validate-input"
          data-validate="Valid email is: a@b.c"
        >
          <input class="input100" type="text" name="email" />
          <span class="focus-input100" data-placeholder="Correo Electrónico"></span>
        </div>

        <div
          class="wrap-input100 validate-input"
          data-validate="Enter password"
        >
          <span class="btn-show-pass" (click)="mostrarPassword = !mostrarPassword">
            <fa-icon [icon]="mostrarPassword ? faEyeSlash : faEye"></fa-icon>
          </span>
          <input class="input100" [type]="mostrarPassword ? 'text' : 'password'" name="pass" />
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">Entrar</button>
          </div>
        </div>

        <div class="text-center p-t-115">
          <span class="txt1"> ¿No tienes cuenta? </span>

          <a class="txt2" href="#"> Registrarse </a>
        </div>
      </form>
    </div>
  </div>
</div>