<!-- Spinner -->
<div class="spinner-container text-primary" *ngIf="cargando">
  <fa-icon icon="spinner" [spin]="true" size="5x"></fa-icon>
</div>
<!-- /Spinner -->

<!-- Tarjeta Pregunta -->
<div class="card mb-3">
  <div class="card-header">Ingrese Los Datos Solicitados</div>

  <!-- Card Body -->
  <div class="card-body">
    <form [formGroup]="form">
      <!-- Primer Renglon -->
      <div class="row">
        <!-- Categoria -->
        <div class="form-group col-sm-6">
          <label>Seleccione Categoría</label>
          <select class="form-control" formControlName="categoria">
            <option value="" disabled selected>Seleccione</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </option>
          </select>
          <!-- Errores -->
          <div
            class="text-danger errors"
            *ngIf="
                form.get('categoria').invalid &&
                form.get('categoria').touched
              "
          >
            <small *ngIf="form.get('categoria').hasError('required')">
              Debe seleccionar una categoría
            </small>
          </div>
          <!-- Errores -->
        </div>
        <!-- Categoria -->

        <!-- Pregunta -->
        <div class="form-group col-sm-6">
          <label>Pregunta</label>
          <textarea
            class="form-control"
            autocomplete="off"
            formControlName="pregunta"
          >
          </textarea>
          <!-- Errores -->
          <div
            class="text-danger errors"
            *ngIf="
                form.get('pregunta').invalid &&
                (form.get('pregunta').touched ||
                  form.get('pregunta').dirty)
              "
          >
            <small *ngIf="form.get('pregunta').hasError('required')">
              Debe indicar la pregunta
            </small>
            <small *ngIf="form.get('pregunta').hasError('minlength')">
              Ingrese al menos 5 caracteres
            </small>
            <small *ngIf="form.get('pregunta').hasError('maxlength')">
              Ingrese máximo 255 caracteres
            </small>
            <small *ngIf="form.get('pregunta').hasError('pattern')">
              Use solo caracteres alfanuméricos
            </small>
          </div>
          <!-- /Errores -->
        </div>
        <!-- /Pregunta -->
      </div>
      <!-- /Primer Renglon -->
      <!-- Opciones -->
      <button
        class="btn btn-danger mr-2"
        [disabled]="guardando"
        routerLink="/catalogos/preguntas"
      >
        Regresar
      </button>
      <button
        class="btn btn-success"
        [disabled]="guardando"
        (click)="guardarPregunta()"
      >
        <fa-icon
          [icon]="guardando ? 'sync' : 'save'"
          [spin]="guardando"
          class="mr-2"
        ></fa-icon>
        <span *ngIf="pregunta?.id === 0">Guardar</span>
        <span *ngIf="pregunta?.id > 0">Actualizar</span>
      </button>
      <!-- Opciones -->
    </form>
  </div>
  <!-- Card Body -->
</div>
<!-- /Tarjeta Categoria -->

<!-- Tarjeta Respuestas -->
<div class="card">
  <div class="card-header">Posibles Respuestas</div>

  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-6" *ngFor="let respuesta of respuestas; let i=index">
        <div [class]="'alert alert-' + colores[i]">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" />
              </div>
            </div>

            <input
              type="text"
              class="form-control"
              placeholder="Escribir respuesta"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Tarjeta Respuestas -->
