<app-spinner *ngIf="cargando"></app-spinner>

<!-- Datos Pregunta -->
<div class="card mb-3">
  <div class="card-header">Ingrese Los Datos Solicitados</div>

  <!-- Card Body -->
  <div class="card-body">
    <app-form-pregunta
      [pregunta]="pregunta"
      [form]="formulario"
    ></app-form-pregunta>
  </div>
  <!-- Card Body -->
</div>
<!-- /Datos Pregunta -->

<!-- Tarjeta Respuestas -->
<div class="card">
  <div class="card-header">
    Ingrese las 5 posibles respuestas y marque la correcta
  </div>

  <div class="card-body">
    <app-form-respuestas
      [respuestas]="pregunta?.respuestas"
      [form]="formulario"
    ></app-form-respuestas>
  </div>
</div>
<!-- /Tarjeta Respuestas -->

<!-- Opciones Formulario -->
<section class="mt-3 mb-5">
  <app-form-actions
    [procesando]="guardando"
    rutaAnterior="/catalogos/preguntas"
    [labelAction]="pregunta?.id === 0 ? 'Guardar' : 'Actualizar'"
    (action)="guardarPregunta()"
  >
  </app-form-actions>
</section>
<!-- /Opciones Formulario -->
