<!-- Sidebar/menu -->
<nav
  class="w3-sidebar w3-collapse w3-white w3-animate-left"
  style="z-index: 3; width: 300px"
  id="mySidebar"
>
  <br />
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img
        src="assets/images/user-male.png"
        class="w3-circle w3-margin-right"
        style="width: 46px"
      />
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Mike</strong></span
      ><br />
      <span>Administrador</span>
    </div>
  </div>
  <hr />
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"
      ><i class="fa fa-users fa-fw"></i>&nbsp; Overview</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-eye fa-fw"></i>&nbsp; Views</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-users fa-fw"></i>&nbsp; Traffic</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-bullseye fa-fw"></i>&nbsp; Geo</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-diamond fa-fw"></i>&nbsp; Orders</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-bell fa-fw"></i>&nbsp; News</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-bank fa-fw"></i>&nbsp; General</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-history fa-fw"></i>&nbsp; History</a
    >
    <a href="#" class="w3-bar-item w3-button w3-padding"
      ><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a
    ><br /><br />
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div
  class="w3-overlay w3-hide-large w3-animate-opacity"
  style="cursor: pointer"
  title="close side menu"
  id="myOverlay"
></div>
