<!-- Sidebar/menu -->
<nav
  class="w3-sidebar w3-collapse w3-white w3-animate-left"
  style="z-index: 3; width: 300px"
  id="mySidebar"
>
  <br />
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img
        src="assets/images/user-male.png"
        class="w3-circle w3-margin-right"
        style="width: 46px"
      />
    </div>
    <div class="w3-col s8 w3-bar">
      <span
        ><strong>{{ usuario.username }}</strong></span
      ><br />
      <span>{{ usuario.rol.nombreVisible }}</span>
    </div>
  </div>
  <hr />
  <div *ngFor="let menu of menus">
    <div class="w3-container" *ngIf="menu.header && permisoConcedido(menu)">
      <h5>{{ menu.header }}</h5>
    </div>
    <div *ngFor="let menuItem of menu.menuItems" class="w3-bar-block">
      <a
      *ngIf="permisoConcedido(menuItem)"
        [routerLink]="[menuItem.link]"
        routerLinkActive="w3-blue"
        class="w3-bar-item w3-button w3-padding"
        ><fa-icon [icon]="menuItem.icon"></fa-icon>&nbsp; {{ menuItem.title }}</a
      >
    </div>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div
  class="w3-overlay w3-hide-large w3-animate-opacity"
  style="cursor: pointer"
  title="close side menu"
  id="myOverlay"
></div>
