<div class="card">
  <div class="card-header">Listado De Preguntas</div>

  <!-- Spinner -->
  <div class="spinner-container text-primary" *ngIf="cargando">
    <fa-icon icon="spinner" [spin]="true" size="5x"></fa-icon>
  </div>
  <!-- /Spinner -->

  <div class="card-body" [hidden]="cargando">
    <!-- Contenedor tabla encabezado -->
    <div class="table-responsive">
      <app-header-table
        [displayBotonAdd]="true"
        [labelBotonAdd]="'Agregar Nueva'"
        [itemsPorPagina]="itemsPorPagina"
        (cambioTamPag)="cambioPagina($event)"
        (cambioTermino)="cambioTermino($event)"
        (clickAdd)="clickBotonAgregar()"
      ></app-header-table>
    </div>
    <!-- /Contenedor tabla encabezado -->

    <!-- Contenedor Tabla Preguntas -->
    <div class="table-responsive">
      <!-- Tabla Preguntas -->
      <table class="table table-bordered table-sm text-center">
        <!-- Encabezado -->
        <thead class="header-datatable">
          <tr>
            <th class="th-hoverable" (click)="ordenar('categoria.categoria')">
              Categoría
            </th>
            <th class="th-hoverable" (click)="ordenar('pregunta')">Pregunta</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <!-- Cuerpo Tabla -->
        <tbody>
          <!-- Categorías Existentes -->
          <tr *ngFor="let pregunta of preguntas">
            <td>{{ pregunta.categoria.categoria }}</td>
            <td>{{ pregunta.pregunta }}</td>

            <!-- editar -->
            <td>
              <button
                class="btn btn-outline-primary"
                [routerLink]="['/catalogos/preguntas/form-pregunta', pregunta.id]"
              >
                <fa-icon icon="edit"></fa-icon>
              </button>
            </td>
            <!-- /editar -->

            <!-- eliminar -->
            <td>
              <button
                class="btn drp-icon btn-icon btn-outline-danger"
                (click)="eliminar(pregunta)"
              >
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
            <!-- /eliminar -->
          </tr>
          <!-- /Preguntas Existentes -->

          <!-- Si no hay registros se genera un solo renglon con un mensaje de error -->
          <tr *ngIf="mensajeErrorHttp.length > 0">
            <td colspan="11">
              <div class="alert alert-primary" role="alert">
                <strong>{{ mensajeErrorHttp }}</strong>
              </div>
            </td>
          </tr>
        </tbody>
        <!-- /Cuerpo Tabla -->
      </table>
      <!-- /Tabla Preguntas -->
    </div>
    <!-- /Contenedor Tabla Preguntas -->

    <!-- Paginador -->
    <ngb-pagination
      class="d-flex justify-content-end"
      [pageSize]="pagina.tamPagina"
      [collectionSize]="pagina.totalElementos"
      [(page)]="pagina.numPagina"
      [maxSize]="itemsPorPagina[itemsPorPagina.length - 1]"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      (pageChange)="obtenerPagina()"
    ></ngb-pagination>
    <!-- /Paginador -->
  </div>
</div>
